{{!-- 

Home page that introduces the app, its features, and purpose. 
Could include links to different sections (Pokémon Encyclopedia, Trivia Game, etc.).

 --}}



 <p> This is the home page.</p>

 