<section class="pokemon-quiz-container">
    <h1>Who's That Pokémon?</h1>
    <p>Test your Pokémon knowledge by identifying Pokémon silhouettes!</p>
    <link rel="stylesheet" href="/public/css/pokemon.css">
    <form action="pokemon/quiz" method="GET" class="pokemon-quiz-form">
        <input 
            type="image" 
            src="/public/images/whosthatpoke.png" 
            alt="Take the Quiz" 
            class="quiz-image-button" 
            id="saveForm" 
        />
    </form>

    <p class="quiz-instruction">
        Click the button above to begin the quiz and test your Pokémon skills!
    </p>
</section>
