body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF5E4;
    color: #292929;
    margin: 0;
    padding: 0;
}

/* Search Box*/
.encyclopedia {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Pokemon Search Bar Box*/ 
.page-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #FF4B2B;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

/*User search bar*/
.search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/*"Search" button*/
.search-button {
    padding: 10px 20px;
    background-color: #FF4B2B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* When cursor is over "Search"*/
.search-button:hover {
    background-color: #FF784F;
}

/* "Filter by Type" */
.filter-dropdown {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}

.results-grid div {
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}
