/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Base Styles */
body {
    background-color: #FEF5EF;
    font-family: 'Montserrat', sans-serif;
    color: #292929;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* Apply gradient */
    padding: 10px 20px;
    border-bottom: 5px solid #F0F4EF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.header-left img {
    max-width: 150px;
    height: auto;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Buttons */
.logout-button,
nav button {
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.logout-button {
    background-color: #F0F4EF;
    color: #ce353f;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}
.logout-button:hover {
    background-color: #be5252;
    color: #fff;
}
nav button {
    background: none;
    border: none;
    color: #878080;
    position: relative;
    transition: color 0.3s ease;
}
nav button:hover,
nav button.active {
    color: #BE5252;
}
nav button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 3px;
    background-color: #BE5252;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
nav button:hover::after,
nav button.active::after {
    transform: scaleX(1);
}
/* Navigation */
.nav-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
nav {
    display: inline-flex;
    justify-content: center;
    gap: 130px;
    padding: 20px 100px;
    background-color: #F0F4EF;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}
