.pokemon-Who-quiz-container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.pokemon-back {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Center the image */
    width: 600px;
    height: 450px; 
    object-fit: cover; 
}



.pokemon-silhouette {
    position: absolute; 
    top: 50%; 
    left: 45%; 
    transform: translate(-50%, -50%); 
    width: 300px;
    height: 300px;
    object-fit: contain; 
    filter: brightness(0) contrast(200%); /* Apply silhouette effect */
    z-index: 2; /* Ensure it layers above the background */
}

.pokemon-answer-form {
    margin-top: 20px;
}

.pokemon-guess-label {
    font-size: 18px;
    margin-right: 10px;
}

.pokemon-answer-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pokemon-answer-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pokemon-answer-form button:hover {
    background-color: #0056b3;
}
